extends layout

block content
  div
    h1 #{targetContact.name}
    h2 #{targetContact.email}
    h3 #{targetContact.phone}

  br
  br
  div#returnToList
    h3
      a(href="/contacts") Contact list
